@import "../../bower_components/bootstrap/less/bootstrap.less";
body, input, textarea {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
a {
    text-decoration:none;
    color:;
    img.alignright {
        float: right;
        margin: 5px 0 20px 20px;
    }
    img.alignnone {
        margin: 5px 20px 20px 0;
    }
    img.alignleft {
        float: left;
        margin: 5px 20px 20px 0;
    }
    img.aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
a:hover {
    text-decoration:underline;
}
a img, :link img, :visited img {
    border: 0;
}
body {
    font-family:"Times";
}
#content {
    p {
        margin:10px 0px;
    }
}
#content .post-content ul, #content .post-content ol {
    margin:10px;
}
.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
    img {
        border: 0 none;
        height: auto;
        margin: 0;
        max-width: 98.5%;
        padding: 0;
        width: auto;
    }
    p.wp-caption-text {
        font-size: 11px;
        line-height: 17px;
        margin: 0;
        padding: 0 4px 5px;
    }
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
